* {
    margin: 0;
    padding: 0;
}

.back_container {
    background-image: url("top.png"), url("background.png");
    background-size: 100%;
    height: 600px;
}

.box1 {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 500px;
}

.empty-space {
    position: absolute;
    height: 80%;
    width: 100%;
}

.messi-logo {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0;
}

#logo {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 10px;
}

.box2 {
    display: inline-block;
    width: 55%;
    height: 500px;
    background-image: url("res/top.png");
}

.box3 {
    position: relative;
    display: inline-block;
    width: 32%;
    height: 500px;
    color: black;
    font-size: 15px;
}

.text-box {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    border: solid aqua;
    border-radius: 10%;
    background-color: white;
    opacity: 0.5;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}

.off-website {
    width: 35%;
    box-sizing: border-box;
    padding: 5px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: Serif;
}

.stats_container {
    position: relative;
    background-image: url("bg-stats-rebrand.png");
    background-size: 100%;
    height: 700px;
}

.stats_img_container {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 50%;
}

.stats {
    position: absolute;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

#stats-img {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 95%;
}

#stats-table {
    position: relative;
    top: 140px;
    width: 100%;
    height: 80%;
}

.stats-table-cell {
    position: relative;
    left: 25%;
    width: 50%;
    height: 100%;
    border-radius: 10%;
}

.abc {
    position: relative;
    height: 40%;
    width: 100%;
    text-align: center;
}

.stats-para1 {
    position: absolute;
    width: 100%;
    top: 45%;
    font-size: 50px;
    font-weight: bolder;
    color: darkblue;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: cyan;
}

.stats-para2 {
    position: absolute;
    width: 100%;
    top: 70%;
    font-size: 25px;
    font-weight: bolder;
}

.footer-container {
    background-image: url("footer-background.jpg");
    height: 280px;
}

.footer-sponsor {
    height: 100%;
    width: 65%;
    display: inline-block;
}

.sponsor-table {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.footer-pic {
    display: inline-block;
    height: 100%;
    width: 30%;
    text-align: center;
}

#footer-messi {
    height: 100%;
}

