* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    position: relative;
    width: 50%;
    margin-top: 25px;
    min-height: 150px;
    background-color: #1d1d1d;
}

.drop-down {
    background-color: darkgoldenrod;
    color: whitesmoke;
}

.drop-down-info {
    display: none;
}

.drop-down:hover + .drop-down-info {
    display: block;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    width: 100%;
    background-color: darkorange;
    color: whitesmoke;
}

.content {
    width: 100%;
    background-color: darkgreen;
    color: whitesmoke;
}

#box1 {
    display: inline-block;
    width: 49%;
    background-color: darkblue;
    color: whitesmoke;
}

#box2 {
    display: inline-block;
    color: whitesmoke;
    background-color: darkred;
    width: 49%;
}